<% layout('layout') -%>
<% if (message) { %>
<p><%= message %></p>
<% } %>
<div class="col-xs-6 col-md-4" >
<form class="form-signin" role="form" action="/login" method="post">
        <h2 class="form-signin-heading">Venture Login</h2>
        <input type="text" name="username" class="form-control" placeholder="ID" required autofocus><br/>
        <input type="password" name="password" class="form-control" placeholder="Password" required><br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</div>